@charset "UTF-8";
#searchContainer{
	margin-top:2%;
	margin-bottom: 5%;
}
#searchRow{
	margin-top: 3%;
}

#notFound{
    text-align: center;
    font-size: x-large;
    font-family: nexonregular;
    font-weight: 700;
    margin-top: 13%;
    margin-bottom: 15%;
    color: red;
}
#questionImg{
	margin-left: 7%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 5%;
}
#questionText{
	display: inline;
    font-family: nexonregular;
    font-size: xx-large;
    font-weight: 700;
    color: red;
    position: absolute;
    top: 40%;
}
#returnHome{
	border: solid 1px;
    background: #f0f5fa;
}

@media ( min-width: 990px ) {
	
	#searchRow{
		margin-left: 5%;
	    margin-right: 5%;
	}
	
}
@media ( min-width: 631px ) {
	
	#questionImg{
		margin-left: 25%;
	}
}